:root {
  --color-blue: #1992d4;
  --color-white: #ffffff;
  --color-grey: #f0f4fa;
  --color-box-shadow: #c8d0d8;
  --color-black: #222222;
  --color-svgs-file: invert(95%) sepia(6%) saturate(302%) hue-rotate(180deg)
    brightness(97%) contrast(95%);
  --font-style: "Roboto", san-serif;
  --heading-padding: 20px;
  --main-box-shadow: 0px 2px 3px var(--color-box-shadow);
}

@media screen and (max-width: 2560px) {
  html {
    font-size: 22px;
  }
}
@media screen and (max-width: 1920px) {
  html {
    font-size: 16px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-style);
  color: var(--color-black);

  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 8fr;
}

.profile-pictures {
  border-radius: 50%;
}

aside.navigation {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 1.1rem;
  background-color: var(--color-blue);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

aside .website-logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

aside .dashboard-icon {
  filter: var(--color-svgs-file);
  width: 3rem;
}

aside .dashboard-text {
  font-size: 1.6rem;
  font-weight: 800;
  text-decoration: none;
  color: inherit;
}

aside .nav-primary > ul,
aside .nav-secondary > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

aside .nav-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

aside .nav-items {
  width: 1.5rem;
  height: auto;
  filter: var(--color-svgs-file);
}

aside .nav-text {
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}

header.utility-bar {
  grid-row: 1 / 2;
  background-color: var(--color-white);
  box-shadow: var(--color-box-shadow) 0px 1px 5px 1px;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 1fr;
  padding: 1.2rem 1rem;
  row-gap: 1rem;
}

header .search-bar {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: var(--heading-padding);
}

header .search-icon {
  width: 2rem;
}

header .search-input {
  width: 100%;
  background-color: var(--color-grey);
  border: none;
  border-radius: 20px;
  height: 2.5rem;
}

header .user-actions {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 var(--heading-padding);
  gap: 2rem;
}

header .notifications-icon {
  height: 2.5rem;
}

header .profile-picture-small {
  height: 4rem;
  width: 4rem;
}

header .user-actions > .user-name {
  text-decoration: none;
  color: inherit;
  font-weight: 800;
  font-size: 1.2rem;
}

header .user-summary {
  display: flex;
  align-items: center;
  padding: 0 var(--heading-padding);
  gap: 2rem;
}

header .profile-picture-big {
  height: 5rem;
  width: 5rem;
}

header .intro-to-user > .introduction {
  font-weight: bold;
  font-size: 1.2rem;
}

header .intro-to-user > .display-username {
  font-size: 1.75rem;
}

header .button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--heading-padding);
}

header .button-container > .action-buttons {
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 1rem 2.5rem;
  font-family: inherit;
  font-weight: 800;
  border: none;
  border-radius: 60px;
}

header img {
  width: 50px;
  height: auto;
}

main.main-content {
  grid-row: 2 / 3;
  background-color: var(--color-grey);

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  padding: 1rem;
}

main .odin-projects {
  grid-row: 1 / span 2;
  grid-column: 1;
  padding: 1rem;
}

main .projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 20px;
  padding: 1.2rem;
}

main .project {
  padding: 1rem;
  height: 13rem;
  background-image: -webkit-linear-gradient(
    left,
    var(--color-blue),
    var(--color-blue) 2%,
    transparent 2%,
    transparent 100%
  );
  border-radius: 1rem;
  box-shadow: var(--main-box-shadow);
  background-color: var(--color-white);
}

main .project-title,
.project-description {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

main .action-icon-container {
  margin-top: 2rem;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

main a {
  text-decoration: none;
  color: inherit;
}

main .action-icon {
  width: 2rem;
}

main .odin-courses {
  grid-column: 2;
  grid-row: 1 / span 1;
  padding: 2rem;
}

main .odin-courses > h3,
.top-projects > h3 {
  margin-bottom: 2rem;
}

main .courses-container {
  box-shadow: var(--main-box-shadow);
  background-color: var(--color-white);
  padding: 1rem 2rem;
  border-radius: 1rem;
}

main .course-title,
.course-description {
  margin: 0.5rem 0;
}

main .top-projects {
  grid-column: 2;
  grid-row: 2 / span 1;
  padding: 2rem;
}

main .top-projects-users {
  background-color: var(--color-white);
  box-shadow: var(--main-box-shadow);
  border-radius: 1rem;
  padding: 1.5rem 2rem;
}

main .top-users {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

main .profile-pictures-others {
  width: 3rem;
  height: 3rem;
}
